    <h1>Если возникли вопросы, обращайтесь:</h1>
    <p>контакты...........контакты...........контакты...........контакты...........контакты...........
       контакты...........контакты...........контакты...........контакты...........контакты...........
       контакты...........контакты...........контакты...........контакты...........контакты...........
    </p>